---
import { getAsset } from '~/utils/permalinks';
import { Picture } from '@astrojs/image/components';
---

<span class="ml-4 align-middle inline-block">
  <Picture
    src={getAsset('/favicon.svg')}
    width={150}
    height={150}
    widths={[300]}
    sizes="(max-width: 768px) 30vw, 40px"
    aspectRatio="3:1"
    alt="SK Cleaning"
  />
</span>
