---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import AboutGerman from '../components/AboutGerman.astro'
---

<DefaultLayout title="ABOUT">
  <div class="flex justify-center">
    <AboutGerman />
  </div>
</DefaultLayout>
