---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Contact from '~/components/widgets/Contact.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <Hero>
    <Fragment slot="title">Contact Us</Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">Swim with Confidence - Contact Our Pool Professionals</span>
    </Fragment>
  </Hero>
  <Contact />
</Layout>
