---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import ContentMedia from '../components/ContentMedia.astro'
import InstagramFeed from '../components/InstagramFeed.astro'
---

<DefaultLayout title="HOME">
  <Hero />
  <ContentMedia id="about" imgSrc="/images/german-headshot.webp" reverseImg={false}>
    <h2>About German</h2>
    <p class="text-2xl">
      Raised in Caracas, Venezuela, German Gamboa is a passionate Graphic Designer turned Tattoo Artist. Now in Miami,
      Florida, he shares his creative art worldwide, leaving clients eager for more tattoos.
    </p>
  </ContentMedia>
  <InstagramFeed />
</DefaultLayout>
