---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Contact Us', href: '/contact', icon: 'tabler:download' }}
    image={{ src: import('~/assets/images/poolTech2.jpg'), alt: 'Pool technician in front of house' }}
  >
    <Fragment slot="title">
      <span class="highlight"> SK Cleaning</span> Services
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">SK Cleaning</span> is a South Florida based pool servicing company. Click the button
        below to get started.
      </span>
    </Fragment>
  </Hero>

  <!-- Features Widget *************** -->

  <Features
    title="What you get with SK Cleaning"
    subtitle="Unmatched service at the most affordable prices. Fully licensed and insured."
    items={[
      [
        {
          title: 'Efficient Pool Cleaning Solutions',
          description:
            'Our state-of-the-art pool cleaning equipment and skilled technicians ensure your pool stays clean and inviting, using eco-friendly methods.',
          icon: 'tabler:brand-tailwind',
        },
        {
          title: 'Customized Maintenance Plans',
          description:
            "Personalized pool maintenance plans tailored to your specific needs - whether it's for residential, commercial, or community pools, we have you covered.",
          icon: 'tabler:components',
        },
        {
          title: 'Expert Water Balancing',
          description:
            "Our team ensures your pool's water chemistry stays balanced, providing a safe and comfortable swimming experience while protecting your pool's surfaces and equipment.",
          icon: 'tabler:list-check',
        },
      ],
      [
        {
          title: 'Fast and Reliable Repairs',
          description:
            'Our certified technicians offer quick and dependable repair services to keep your pool functioning smoothly and prevent downtime.',
          icon: 'tabler:rocket',
        },
        {
          title: 'Eco-friendly Pool Upgrades',
          description:
            'We provide energy-efficient and environmentally-friendly pool equipment upgrades, such as variable speed pumps and solar heating systems, to reduce operating costs and promote sustainability.',
          icon: 'tabler:arrows-right-left',
        },
        {
          title: 'Outstanding Customer Service',
          description:
            "We value our clients and strive to provide top-notch customer service. Our team is always available to answer questions and address concerns about your pool's maintenance and care.",
          icon: 'tabler:bulb',
        },
      ],
    ]}
  />
</Layout>
