---
import { Media } from 'accessible-astro-components'
---

<div class="mt-20 max-w-sm mx-10 md:max-w-lg lg:max-w-4xl">
  <div class="flex flex-col items-center justify-center">
    <div class="grid grid-cols-1 justify-center">
      <div class="flex justify-center text-2xl font-bold uppercase">
        <h1>about</h1>
      </div>
      <div class="flex justify-center mt-10">
        <Media class="rounded-lg" src="/images/german-headshot.webp" />
      </div>
      <div class="flex justify-center">
        <span class="w-36 h-0.5 block mt-1"></span>
      </div>
      <p class="text-md leading-relaxed mt-10">
        Born and raised in Caracas, Venezuela, German Gamboa has always had a passion for the arts. He grew up with a
        pencil in his hand, drawing and scribbling ideas onto a sheet of paper. When attending college, he chose a
        degree that made the most sense to him: Graphic Design/Ilustration. Soon after graduating he started his career
        as a Tattoo Artist, and it was clear that he was born to do this. He is happiest when creating a unique piece
        and feeling the buzz of the machine when it inches closer to one's skin. Now living in Miami, Florida and doing
        tours around the world, German Gamboa spreads his creativity and love for the arts; always leaving behind a
        masterpiece. Warning: His vibes are contagious and you may seek more than one tattoo experience by him.
      </p>
    </div>
  </div>
</div>
