---
import { Icon } from 'astro-icon'

const { icon = 'mdi:rocket', url = 'Title' } = Astro.props
---

<div class="bg-black dark:bg-white rounded-full">
  <a href={url} target="_blank">
    <Icon name={icon} class="text-xl text-white dark:text-black w-10 p-2" />
  </a>
</div>
