---
import FooterIcon from './FooterIcon.astro'
;('https://www.instagram.com/germangamboart/')
---

<footer>
  <section class="py-8">
    <div class="container">
      <div class="grid grid-cols-1 p-4">
        <p class="flex justify-center">For any inquiries:</p>
        <a href="mailto:booking@germangamboart.com" class="flex justify-center">booking@germangamboart.com</a>
      </div>
      <div class="text-black container mx-auto flex justify-center items-center space-x-4">
        <FooterIcon icon="ph:instagram-logo" url="https://www.instagram.com/germangamboart/" />
        <FooterIcon icon="uil:facebook-f" url="https://www.facebook.com/GermanGamboart/" />
        <FooterIcon icon="ic:baseline-tiktok" url="https://www.tiktok.com/@germangamboart" />
      </div>
    </div>
  </section>
</footer>
