<section class="hero bg-image">
  <div class="container">
    <div class="grid grid-cols-1 items-center justify-center h-screen">
      <div class="content-container text-center pt-72">
        <h1 class="text-base lg:text-xl italic font-thin text-white">Want to get inked?</h1>
        <p class="pt-2 text-2xl lg:text-4xl tracking-wider leading-6 uppercase text-white">tattoo inquiry</p>
        <div class="pt-6 flex items-center justify-center">
          <a href="contact">
            <button class="border-2 border-white font-bold uppercase text-white text-base lg:text-xl">click here</button
            >
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .bg-image {
    background-image: url('/images/hero.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .bg-image::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .content-container {
    position: relative;
    z-index: 2;
  }
</style>
