<div class="max-w-5xl mx-auto px-6 sm:px-6 lg:px-8 my-10 border-4 border-white">
  <div class="w-full shadow-2xl rounded p-8 sm:p-12">
    <p class="text-3xl font-bold leading-7 text-center">GET IN TOUCH</p>
    <!-- FORM BEGIN -->
    <form class="tattoo-inquiry-form" action="/form" method="POST" data-netlify="true" name="tattoo-inquiry">
      <input type="hidden" name="contact" value="tattoo-inquiry" />
      <div class="md:flex items-center mt-12">
        <div class="w-full md:w-1/2 flex flex-col">
          <label for="name" class="font-semibold leading-none">Name</label>
          <input
            placeholder="Name"
            required
            type="text"
            id="name"
            name="name"
            class="leading-none text-black p-3 mt-4 rounded border-2"
          />
        </div>
        <div class="w-full md:w-1/2 flex flex-col md:ml-6 md:mt-0 mt-4">
          <label for="phone" class="font-semibold leading-none">Phone</label>
          <input
            placeholder="Phone"
            required
            type="tel"
            id="phone"
            name="phone"
            class="leading-none text-black p-3 mt-4 rounded border-2"
          />
        </div>
      </div>
      <div class="md:flex items-center mt-4">
        <div class="w-full flex flex-col">
          <label for="email" class="font-semibold leading-none">Email</label>
          <input
            placeholder="Email"
            required
            type="email"
            id="email"
            name="email"
            class="leading-none text-black p-3 mt-4 rounded border-2"
          />
        </div>
      </div>
      <div>
        <div class="w-full flex flex-col mt-4">
          <label for="Message" class="font-semibold leading-none">Message</label>
          <textarea
            placeholder="Tell us about your tattoo idea and who you are."
            required
            id="message"
            name="message"
            class="h-40 text-base leading-none text-black p-3 mt-4 rounded border-2"></textarea>
        </div>
      </div>
      <div data-netlify-recaptcha="true" class="flex justify-center mt-4"></div>
      <div class="flex items-center justify-center w-full">
        <button type="submit" class="mt-6 font-semibold leading-none p-4 border-2 border-black dark:border-white">
          Send message</button
        >
      </div>
    </form>
  </div>
</div>
