---
import Layout from '../layouts/Layout.astro';
import AboutGerman from '../components/AboutGerman.astro';
---

<Layout title="ABOUT - GERMAN GAMBOART">
  <main class="mt-24">
    <AboutGerman />
  </main>
</Layout>
