---
export const prerender = true;
import Layout from '../layouts/Layout.astro';
import SimpleContact from '../components/SimpleContact.astro';
---

<Layout title="FORM">
  <main class="pt-32">
    <SimpleContact />
  </main>
</Layout>
