---
export const prerender = true;
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import InstagramGrid from '../components/InstagramGrid.astro';
import AboutGerman from '../components/AboutGerman.astro';
import SimpleContact from '../components/SimpleContact.astro';
---

<Layout title="">
  <main>
    <Hero />
    <AboutGerman />
    <SimpleContact />
    <InstagramGrid />
  </main>
</Layout>
