---
export const prerender = true;
import Layout from '../layouts/Layout.astro';
import Success from '../components/Success.astro';
---

<Layout title="SUCCESS">
  <main>
    <Success < main />
  </main>
</Layout>
